section {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 45vh;
}

section > ul {
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100vh;
    margin-left: 30vh;
}

.toggle-between {
    width: fit-content;
    color: gray;
    padding: 0% 3%;
    font-size: 4vh;
}

.style-all-links {
    text-decoration: none;
    color: black;

}

.group-base-selection {
    display: flex;
    flex-flow: row;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid black; */
    width: fit-content;
    margin-left: 35vh;
    margin-bottom: 5vh;
}

.at-group-button {
    text-decoration-line: underline;
}

.group-caption {
    margin-right: 39vh;
    margin-bottom: 2vh;
}


.group-card {
    display: flex;
    flex-flow: row;
    /* justify-content: center; */
    /* width: 130vh; */
    border-top: 1px dotted gray;
    margin-bottom: 4vh;
    /* text-decoration: none; */
}

.group-card > img {
    width: 40vh;
    margin-top: 3vh;
    border: 1px solid black ;
}

.group-card-info {
    margin-left: 2vh;
    max-width: max-content;
}
.group-card-info  > h3{
    font-size: 20px;
}

.group-card-info  > h4{
    font-size: 13px;
    color:tan
}

.group-card-info  > h5{
    font-size: 13px;
    word-wrap: break-word;
    max-width: 50vh;
}

.group-card-info-bottom {
    display: flex;
    flex-flow: row;
    /* padding: 0px 30px */

}

.group-card-info-bottom > p {
    font-size: 13px;
    padding: 0px 2px
}




/* Only for singular group display */

.bread-crumb {
    position: relative;
    left: 20vh;
    bottom: 1vh;
}

.group-card-singular {
    display: flex;
    /* flex-flow: row; */
    /* justify-content: center; */
    /* width: 10vh; */
    /* border-top: 1px dotted gray; */
    /* margin-bottom: 0vh; */
    /* text-decoration: none; */
    margin-right: 30vh;
    height: 40vh;
    /* padding: 5; */
}

.group-card-singular > img {
    position: relative;
    left: 20vh;
    width: 70vh;
    /* height: ; */
    border: 1px solid black;
    /* margin-left: -10vh; */
}

.group-card-info-singular {
    position: relative;
    left: 30vh;
    /* margin-left: vh; */
    /* max-width: max-content; */
    /* width: 800px; */
    display: flex;
    flex-flow: column;
    align-items: start;
}
.group-card-info-singular > span {
    font-size: 10vh;
    overflow-wrap: break-word;
    font-size: 4vh;
    max-width: 90vh;
    border: 1px solid black;
}

.group-card-info-singular > p {
    font-size: 13px;
        /* padding: 0px 10px */
}


.group-card-info-bottom-singular {

    display: flex;
    flex-flow: row;
    /* padding: 0px 30px */

}

.group-card-info-bottom-singular > p {
    font-size: 13px;
    padding: 0px 2px
}

.group-card-singular-join {

}


/* Under singular group card */


h2 {
    font-size: 170%;
}

/* Events-Display */

.event-base-selection {
    display: flex;
    flex-flow: row;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid black; */
    width: fit-content;
    margin-left: 35vh;
    margin-bottom: 5vh;
}

.at-event-button {
    text-decoration-line: underline;
}

.event-caption {
    margin-right: 39vh;
    margin-bottom: 2vh;
}

.event-card {
    display: flex;
    flex-flow: row;
    /* justify-content: center; */
    /* width: 130vh; */
    border-top: 1px dotted gray;
    margin-bottom: 4vh;
    /* text-decoration: none; */
}

.event-card > img {
    width: 40vh;
    margin-top: 3vh;
    border: 1px solid black ;
}

.event-card-info {
    margin-left: 2vh;
    max-width: max-content;
}

.event-card-info  > h3{
    font-size: 20px;
}

.event-card-info  > h4{
    font-size: 13px;
    color:tan
}

.event-card-info  > h5{
    font-size: 13px;
    word-wrap: break-word;
    max-width: 50vh;
}

.event-card-info-bottom {
    display: flex;
    flex-flow: row;
    /* padding: 0px 30px */

}

.event-card-info-bottom > p {
    font-size: 13px;
    padding: 0px 2px
}
